body{
    /* background-color: antiquewhite; */
    font-size: 56px;
    color: chocolate;
    
}
.imgContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
}
.imgItem{
    overflow: hidden;
    width: 25%;
    aspect-ratio: 16/9;
    background-color:aquamarine;
    border:1px solid #ccc;
    box-sizing: border-box;
}
.imgel{
    width: 100%;
    height: 100%;
    /* display: none; */
}
.title{
    text-align: center;
    margin-bottom: 50px;
}